{% extends "base/theme.html" %}
{% load staticfiles %}
{% load sitegate %}
{% block main_content %}

    <section id="services">
        <div class="container">
            <div class="row ">
                <div id="signin_form" class="col-lg-offset-3 col-lg-6 text-center">
                    <div class="my_signin_block">
                        <h2 class="section-heading"><a href="{{ location.get_absolute_url }}">Sign In</a></h2>
                        <h3 class="section-subheading text-muted">Welcome back!</h3>
                        {% sitegate_signin_form %}
                        <button id="btn_signup" class="btn btn-default btn-block btn-success" value="Sign Up" type="button">Join Yelp Knockoff</button>
                    </div>
                </div>
                <div id="signup_form" class="col-lg-offset-3 col-lg-6 text-center" style="display: none;">
                    <div class="my_signup_block">
                        <h2 class="section-heading"><a href="{{ location.get_absolute_url }}">Join Yelp Knockoff</a></h2>
                        <h3 class="section-subheading text-muted">Visit exotic places, and talk smack about them!</h3>
                        {% sitegate_signup_form %}
                        <button id="btn_signin" class="btn btn-default btn-block btn-success" value="Sign In" type="button">Sign in with an existing account</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js_libs %}
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js"%}"></script>
{% endblock %}

{% block bottom_js %}
    <script type="application/javascript">
            $(document).ready(function(){
                function toggle_signup(){
                    $('#signin_form').slideUp(function(){
                        $('#signup_form').slideDown();
                    });
                }

                function toggle_signin(){
                    $('#signup_form').slideUp(function(){
                        $('#signin_form').slideDown();
                    });
                }

                if ($('#signup_form').find('.has-error').size() > 0){
                    toggle_signup();
                }

                $('#btn_signup').click(function(){
                    toggle_signup();
                });

                $('#btn_signin').click(function(){
                    toggle_signin();
                })
            });
    </script>
{% endblock %}