.grid-item {
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    width: 300px;
    height: 550px;
    background: #FFF;
    border: 3px solid #002147;
}

.grid-item--width2 { width: 50%; }

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item-content {
    height: 530px;
}

.grid-item-content .location-details-container {
    height: 50%;
}

.grid-item-content .location-details-spacer {
    height: 5%;
}

.grid-item-content .location-img-container {
    height: 40%;
    width: 275px;
    overflow: hidden;
}

.grid-item-content .location-img-container img {
    width: 275px;
}
