{% extends "base/theme.html" %}
{%load staticfiles %}
{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ STATIC_URL }}theme/js/gmaps.js"></script>
    <script src="{{ STATIC_URL }}theme/js/maps.js"></script>
{% endblock %}
{% block main_content %}
    <div class="data-layer">
        <ul>
            <li class="location-data" data-latitude="{{ location.position.latitude }}" data-longitude="{{ location.position.longitude }}">{{ location.title }}</li>
        </ul>
    </div>
    <div class="header-buffer">
    </div>
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="" >
                <div id="details">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                {% if location.fb_page %}
                                    <div id="fb-page-like-container" class="pull-left" style="width: 300px; margin-right: 20px;">
                                        <div class="fb-page" data-href="{{ location.fb_page }}" data-width="300"
                                             data-height="120" data-small-header="false" data-adapt-container-width="true"
                                             data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                                            <div class="fb-xfbml-parse-ignore">
                                                <blockquote cite="{{ location.fb_page }}"><a
                                                        href="{{ location.fb_page }}">{{ location.fb_page_label }}</a>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% comment %}
                                    <div class="fb-like" data-href="{{ fb_like_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                                {% endcomment %}
                                <div id="twitter-tweet-container" class="pull-left">
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ location.title|urlize }}" data-size="large">Tweet</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h2>{{ location.title }}</h2>
                                {% if location.address %}<p><b>Location: </b>{{ location.address }}</b></p>{% endif %}
                                {% if location.hours %}<p><b>Opening Hours: </b>{{ location.hours }}</b></p>{% endif %}
                                <p><b>{{ location.description }}</b></p>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    {% if location.image_file %}
                                        <div class="col-md-12 text-center">
                                            <img class="img-responsive" src="{{ location.image_file.url }}" style="width: 100%;" />
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'location/specifics.html' with location=location %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 panel">
                                <div class="wide-map short-map" id="map"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6 text-center">
                                    <br>
                                    {% if location.address %}<p>{{ location.address }}</p>{% endif %}
                                    {% if location.phone %}<p>{{ location.phone }}</p>{% endif %}
                                    {% if location.website %}<p><a href="{{ location.website }}">{{ location.website }}</a></p>{% endif %}
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}